<header class="navbar">
    <section class="navbar-section">
        <!-- <a routerLink="/" class="btn btn-link navbar-brand">HN</a> -->
        <img src="/assets/icons/hackers_logo.png" routerLink="/">
    </section>

    <section class="navbar-center">
        <a routerLink="/hn/new" class="btn btn-link btn-secondary">New</a>
        <a routerLink="/hn/jobs" class="btn btn-link">Jobs</a>
        <a routerLink="/hn/ask" class="btn btn-link">Ask</a>
        <a routerLink="/hn/show" class="btn btn-link">Show</a>
    </section>
</header>